$font-special-bold-family: 'Orbitron', sans-serif;
$font-special-bold-weight: 900;

$font-regular-family: "Proxima Nova W01";
$font-regular-weight: 400;

$font-semibold-family: "Proxima Nova W01";
$font-semibold-weight: 500;

$font-lightbold-family: "Proxima Nova W01";
$font-lightbold-weight: 600;

$font-bold-family: "Proxima Nova W01";
$font-bold-weight: 700;

$font-bolder-family: "Proxima Nova W01";
$font-bolder-weight: 800;
