<div class="about-the-host">
    <div class="about-the-host__header">
        <img class="about-the-host__header-image" src="<%- host.imageUrl %>"/>
        <div class="about-the-host__header-title">
            <p class="about-the-host__header-title__author"><%- host.name %></p>
            <p class="about-the-host__header-title__author-title"><%- host.title %></p>
        </div>
    </div>
    <div class="about-the-host__content"><%- host.description %></div>
</div>