<div class="connect-social">
    <div class="connect-social__title">Connect on Social:</div>
    <div class="connect-social__items-container">
        <a class="connect-social__item connect-social__theme_blue" href="https://www.facebook.com/StansberryInvestorHour/" target="_blank">
            <i class="connect-social__item__icon connect-social__item__icon_facebook icon-facebook"></i>
            <span class="connect-social__item__text">Find us on Facebook</span>
        </a>
        <a class="connect-social__item connect-social__theme_light-blue" href="https://twitter.com/StansberryRadio" target="_blank">
            <i class="connect-social__item__icon connect-social__item__icon_twitter icon-twitter"></i>
            <span class="connect-social__item__text">Follow on Twitter</span>
        </a>
        <a class="connect-social__item connect-social__theme_red" href="https://www.youtube.com/channel/UCw-B2GhCYzLd0PHfHojrKqw" target="_blank">
            <i class="connect-social__item__icon connect-social__item__icon_youtube icon-youtube-play"></i>
            <span class="connect-social__item__text">Subscribe to our channel</span>
        </a>
    </div>
</div>