<div class="podcast-platfroms">
    <div class="podcast-platfroms__title">How to listen:</div>
    <div class="podcast-platfroms__items-container">
        <a href="https://itunes.apple.com/us/podcast/stansberry-investor-hour/id1240834066?mt=2" target="_blank">
            <img class="podcast-platfroms__item-image" src="/assets/images/icons/apple-podcast.svg" alt="">
        </a>
        <div class="podcast-platfroms__item">
            <a href="https://play.google.com/music/listen#/ps/In7zrukhzu5bsdhzyrtsopzvxce" target="_blank">
                <img class="podcast-platfroms__item_icon" src="/assets/images/icons/google-play-music.png" alt="">
                <p class="podcast-platfroms__item_text">Google Play</p>
            </a>
        </div>
        <div class="podcast-platfroms__item">
            <a href="https://www.youtube.com/channel/UCw-B2GhCYzLd0PHfHojrKqw" target="_blank">
                <img class="podcast-platfroms__item_icon" src="/assets/images/icons/youtube.png" alt="">
                <p class="podcast-platfroms__item_text">YouTube</p>
            </a>
        </div>
        <div class="podcast-platfroms__item">
            <a href="https://open.spotify.com/show/6gh5dldcD8LfTOOWanFr1N?si=50i-vPhoRoSDPfcdG6ktnw" target="_blank">
                <img class="podcast-platfroms__item_icon" src="/assets/images/icons/spotify.png" alt="">
                <p class="podcast-platfroms__item_text">Spotify</p>
            </a>
        </div>
        <div class="podcast-platfroms__item">
            <a href="https://www.stitcher.com/podcast/stansberry-investor-hour" target="_blank">
                <img class="podcast-platfroms__item_icon" src="/assets/images/icons/stitcher.png" alt="">
                <p class="podcast-platfroms__item_text">Stitcher</p>
            </a>
        </div>
    </div>
</div>