<div class="subscription-box">
    <div class="card">
        <div class="card-body">
            <form action="https://pages.stansberryresearch.com/page.aspx" method="GET">
                <input type="hidden" name="QS" value="38dfbe491fab00ea3857e59a52beea8997f1b55345d36ffe5298da09e571360f">
                <input type="hidden" name="source" value="investorhour">
                <div>
                    <div class="card-title">Get the Investor Hour podcast delivered to your inbox</div>
                    <img class="card-image" src="/assets/images/subscribe-box-icon.png" alt="">
                </div>
                <p class="card-text">Subscribe for FREE. Get the Stansberry Investor Hour podcast delievered straight to
                    your inbox.
                </p>

                <div class="input-group">
                    <input class="form-control search-input" name="email" type="email"
                           placeholder="Enter e-mail" aria-label="Enter e-mail"
                           aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-warning" type="submit">Subscribe</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
