<footer class="footer">
    <div class="footer-main">
        <div class="container-default">
            <div class="footer-main__navigation-container">
                <div class="footer-main__navigation">
                    <a href="/">
                        <img class="footer-main__navigation_logo" src="/assets/images/sih-logo.png" alt="">
                    </a>
                    <div class="footer-main__navigation__list">
                        <div class="footer-main__navigation__list-item"><a href="/episodes/">Episodes</a></div>
                        <div class="footer-main__navigation__list-item"><a href="/about/">About</a></div>
                        <div class="footer-main__navigation__list-item"><a href="/guests/">Guests</a></div>
                        <div class="footer-main__navigation__list-item"><a href="/contact/">Contact Us</a></div>
                    </div>
                </div>
            </div>
            <div class="footer-main__listen-on-container">
                <div class="footer-main__listen-on">
                    <div class="footer-main__listen-on__title">Listen on</div>
                    <div class="footer-main__listen-on__list">
                        <div class="footer-main__listen-on__list-item footer-main__listen-on__list-item__theme_apple">
                            <a href="https://itunes.apple.com/us/podcast/stansberry-investor-hour/id1240834066?mt=2"
                               target="_blank">
                                <i class="icon-apple"></i>iPhone and iPad
                            </a>
                        </div>
                        <div class="footer-main__listen-on__list-item footer-main__listen-on__list-item__theme_android">
                            <a href="https://play.google.com/music/listen#/ps/In7zrukhzu5bsdhzyrtsopzvxce"
                               target="_blank">
                                <i class="icon-android"></i>Android
                            </a>
                        </div>
                        <div class="footer-main__listen-on__list-item">
                            <a href="https://www.youtube.com/channel/UCw-B2GhCYzLd0PHfHojrKqw" target="_blank">
                                <img class="footer-main__listen-on__list-item__icon"
                                     src="/assets/images/icons/youtube.png" alt="">YouTube
                            </a>
                        </div>
                        <div class="footer-main__listen-on__list-item footer-main__listen-on__list-item__theme_spotify">
                            <a href="https://open.spotify.com/show/6gh5dldcD8LfTOOWanFr1N?si=50i-vPhoRoSDPfcdG6ktnw"
                               target="_blank">
                                <i class="icon-spotify"></i>Spotify
                            </a>
                        </div>
                        <div class="footer-main__listen-on__list-item">
                            <a href="https://www.stitcher.com/podcast/stansberry-investor-hour" target="_blank">
                                <img class="footer-main__listen-on__list-item__icon"
                                     src="/assets/images/icons/stitcher.png" alt="">Stitcher
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-main__connect-on-container">
                <div class="footer-main__connect-on">
                    <div class="footer-main__connect-on__title">Connect on</div>
                    <div class="footer-main__connect-on__list">
                        <div class="footer-main__connect-on__list-item">
                            <a href="https://www.facebook.com/StansberryInvestorHour/" target="_blank">
                                <i class="icon-facebook"></i>
                                <span class="footer-main__connect-on__list-item__text">Facebook</span>
                            </a>
                        </div>
                        <div class="footer-main__connect-on__list-item">
                            <a href="https://twitter.com/StansberryRadio" target="_blank">
                                <i class="icon-twitter"></i>
                                <span class="footer-main__connect-on__list-item__text">Twitter</span>
                            </a>
                        </div>
                        <div class="footer-main__connect-on__list-item">
                            <a href="https://www.youtube.com/channel/UCw-B2GhCYzLd0PHfHojrKqw" target="_blank">
                                <i class="icon-youtube-play"></i>
                                <span class="footer-main__connect-on__list-item__text">YouTube</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-main__subscription-box-container">
                <div class="footer-main__subscription-box">
                    <form action="https://pages.stansberryresearch.com/page.aspx" method="GET">
                        <input type="hidden" name="QS" value="38dfbe491fab00ea3857e59a52beea8997f1b55345d36ffe5298da09e571360f">
                        <input type="hidden" name="source" value="investorhour">

                        <div class="footer-main__subscription-box__title">
                            <div class="footer-main__subscription-box__title__text">
                                Get the Investor Hour podcast delivered to your inbox
                            </div>
                            <i class="icon-podcast"></i>
                        </div>
                        <div class="footer-main__subscription-box__content">
                            Subscribe for <strong>FREE</strong>. Get the Stansberry Investor
                            Hour podcast delievered straight to your inbox every week.
                        </div>

                        <div class="footer-main__subscription-box__input input-group">
                            <input class="form-control search-input" name="email" type="email"
                                   placeholder="Enter e-mail" aria-label="Enter e-mail"
                                   aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-warning" type="submit">Subscribe</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-disclaimer">
        <div class="container-default">
            <a class="footer-disclaimer__link" href="/privacy-policy/">Privacy Policy</a>
            <a class="footer-disclaimer__link" href="/disclaimer/">Disclaimer</a>
            <p class="footer-disclaimer__text">
                The Stansberry Investor Hour is produced by Stansberry Research,
                LLC. Protected by copyright laws of the
                United States and international treaties. This website may only be used pursuant to the subscription
                agreement and any reproduction, copying, or redistribution (electronic or otherwise, including on the
                world wide web), in whole or in part, is strictly prohibited without the express written permission of
                Stansberry Research, LLC. 1125 N Charles St, Baltimore, MD 21201.
            </p>
            <p class="footer-disclaimer__text">
                © 2018 Stansberry Research, LLC.
            </p>
        </div>
    </div>
</footer>

<% include ../scripts/headroom %>
