<div class="d-flex justify-content-center" style="margin: 30px 0px; background-color: #DDDDDD; border-radius: 4px; height: 200px;">
    <div style="margin: 30px 0px;" class="d-flex align-items-center">
        <div class="d-flex justify-content-center">
            <div>Space banner ad or lead gen <br />email capture (opt-in box)</div>
        </div>
    </div>
</div>
